<h2 class="text-title">Popover {{::sample }}:</h2>
<h3 class="text-subhead2">{{::showPopover}}</h3>

<md-button class="md-raised md-accent flat" ng-click="showTip()">Show Tip</md-button>
<md-button class="md-raised md-accent flat" ng-click="showQuote()">Show Quote</md-button>

<md-input-container class="w-stretch">
    <textarea name="" ng-model="content" id="" cols="30" rows="10"></textarea>
</md-input-container>

<pre class="text-body1 color-window-bg code-block" ng-init="titleSample = '{{ title }}'; contentSample = '{{ content }}'">
    <h3 class="text-subhead2">{{::code}}</h3>
    <code class="language-js">pipPopover.show({
        class: 'pip-tip',
        locals: {
            title: $scope.title,
            content: $scope.content
        },
        cancelCallback: function () {
            console.log('backdrop clicked');
        },
        controller: function($scope, $timeout) {
            $scope.title = $scope.locals.title;
            $scope.content = $scope.locals.content;
            $scope.image = 'https://static.pexels.com/photos/204262/pexels-photo-204262-large.jpeg';

            $scope.onNextClick = function () {
                console.log('on next click');
                pipPopoverService.hide();
            };

            $timeout(function() {
                $('.pip-popover').find('.pip-pic').css('background-image', 'url(' + $scope.image + ')');
            }, 200);
        },
        template: '&lt;div class="pip-title text-subhead2" style="margin: 24px 24px 16px 24px;"&gt;
            + {{ titleSample }}&lt;/div&gt;'
            + '&lt;div class="pip-content pip-popover-content" style="padding: 0px 24px; margin-bottom: 64px;"&gt;'
            + '&lt;div class="pip-pic" style="margin-bottom: 16px;"&gt;&lt;/div&gt;
            + {{ contentSample }}&lt;/div&gt;'
            + '&lt;div class="pip-popover-footer layout-row layout-align-start-center" style="padding: 8px 16px 8px 24px; "&gt;'
            + '&lt;div class="flex"&gt;&lt;/div&gt;&lt;md-button ng-click="onNextClick()"&gt;NEXT&lt;/md-button&gt;&lt;/div&gt;'
    });
    </code>
</pre>

<md-input-container class="popover-text-container" md-no-float="true">
    <input type="text" placeholder="{{ ::clickHelp | translate }}" ng-model="content1"/>
    <md-icon class="position-right" style="right: initial; left: initial;" md-svg-icon="icons:help" ng-click="showHelp($event, content1)"></md-icon>
</md-input-container>

<md-input-container class="popover-text-container" md-no-float="true">
    <input type="text" placeholder="{{ ::'CLICK_HELP' | translate }}" ng-model="content2"/>
    <md-icon class="position-right" style="right: initial; left: initial;" md-svg-icon="icons:help" ng-click="showHelp($event, content2)"></md-icon>
</md-input-container>

<h3 class="text-subhead2">
    {{::code}}</h3>
<pre class="text-body1 color-window-bg code-block">
    <code class="language-js">pipPopover.show({
        responsive: false,
        element: $event.currentTarget,
        class: 'pip-help',
        locals: {
        content: content || $scope.content
        },
        cancelCallback: function () {
            console.log('backdrop clicked');
        },
        controller: function($scope) {
            $scope.content = $scope.locals.content;

            $scope.onNextClick = function () {
                console.log('on next click');
                pipPopoverService.hide();
            };
        },
        template: '&lt;div class="pip-title" style="height: 24px;"&gt;&lt;/div&gt;&lt;div class="pip-content pip-popover-content" style="padding: 0px 24px;"&gt;'
        + '{{ contentSample }}&lt;/div&gt;&lt;div style="height: 24px;"&gt;&lt;/div&gt;'
    });
    </code>
</pre>