<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>Basic Controls</title>

    <link rel="stylesheet" href="../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../lib/pip-webui-themes.css"/>
    <link rel="stylesheet" href="../../node_modules/prismjs/themes/prism.css">
    <link rel="stylesheet" href="../dist/pip-webui-controls.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <script src="https://www.google.com/jsapi"></script>
    <script src="../lib/pip-webui-lib.js"></script>
    <script src="../lib/pip-webui-services.js"></script>
    <script src="../lib/pip-webui-themes.js"></script>
    <script src="../lib/pip-webui-services.js"></script>
    <script src="../dist/pip-webui-controls.js"></script>

    <script src="../../node_modules/prismjs/prism.js"></script>

    <script src="color_picker_sample/color_picker.js"></script>
    <script src="markdown_sample/markdown.js"></script>
    <script src="unsaved_changes/unsaved_changes.js"></script>
    <script src="popover_sample/popover.js"></script>
    <script src="image_slider_sample/image_slider.js"></script>
    <script src="progress_sample/progress.js"></script>
    <script src="toasts_sample/toasts.js"></script>
    <script src="ref_expander/ref_expander.js"></script>
    <script src="empty/empty.js"></script>
    <script src="index.js"></script>

</head>

<body ng-app="appControls" ng-if="!$reset" ng-controller="pipSampleController"
     class="pip-main layout-column">
<md-toolbar >
    <div class="layout-row layout-align-start-center">
        <md-button class="md-icon-button" aria-label="MENU" ng-if="!$mdMedia('gt-sm')" ng-click="onToggleMenu()">
            <md-icon md-svg-icon="icons:menu" ></md-icon>
            </md-button>
        <div class="md-toolbar-tools">
            <div class="flex-var text-overflow">Controls</div>
        </div>

        <md-menu md-position-mode="target-right target">
            <div class="layout-row layout-align-start-center" style="  cursor: pointer;outline: none;"
                      ng-click="$mdOpenMenu()"
                      aria-label="language selection">
                <span >
                    {{ $language | translate}}</span>
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
                </span>
            </div>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="lang in languages">
                        <md-button ng-click="onLanguageClick(lang)">{{lang | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
    </div>
</md-toolbar>

<div class="layout-row flex">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                class="md-whiteframe-z2 md-sidenav-left layout-column">
        <md-list>
            <md-list-item ng-repeat="contentItem in content"
                          ng-click="onSwitchPage(contentItem.state)"
                          ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content id="content" class="p24-flex flex">
        <div ui-view></div>
    </md-content>
</div>
</body>
</html>