<div class="tm16">
	<md-button ng-click="onOptionsDialogOpen($event)">{{ 'OPEN_OPTIONS' | translate }}</md-button>
</div>

<div class="tm16">
	<md-button ng-click="onOptionsBigDialogOpen($event)">{{ 'OPEN_OPTIONS_BIG' | translate }}</md-button>
</div>

<div class="tm16">
	<md-button ng-click="onOptionsBigDialogOpenForContribs($event)">{{ 'OPEN_OPTIONS_BIG_CONTRIBS' | translate }}</md-button>
</div>

<div class="tm16">
	<md-button ng-click="onRoleDialog($event)">{{ 'OPEN_ROLE_DIALOG' | translate }}</md-button>
</div>
