.pip-content-container .scrolled {
    overflow-y: auto;
}

@media (min-width: 769px) {
    .pip-content-container {
        max-width: calc(100% - 300px) !important;
    }
}

@media (max-width: 1200px) {
	.sample-container {
		padding: 16px;
	}
	.sample-container .content-divider {
		margin: 8px -16px;
	}	
}

.sample-container {
    padding: 24px;
}

.sample-container .content-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 8px -24px;
}

.sample-container .text-subhead2 {
	margin: 16px 0px;
}

.w-stretch{
    width: 100%;
}

.scroll{
    overflow: auto;
}

.sample-container h2.text-title {
	margin-top: 0px;
	margin-bottom: 24px;
}
.sample-container .scroll-card {
	margin: 0px;
	padding: 0x;
}

.sample-container p.text-body1 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.sample-container .code-block {
	padding: 16px;
}

.sample-container .text-input {
	margin-bottom: 24px!important;
}
.sample-container .popover-text-container {
	width: 50%!important;
	padding-left: 0px;
	margin-bottom: 24px!important;
}

.sample-container .code-block .text-subhead2 {
	margin: 0px;	
}

.sample-container pre {
    border-radius: 4px;
}

.sample-container .flat {
    box-shadow: none !important;
}

.markdown-sample-list.pip-menu {
    width: auto !important;
    position: relative;
}
.markdown-sample-list .pip-ref-list-item {
	margin-left: 16px!important;
}

/* Styles for tips, quotes, help */

.pip-popover-backdrop.pip-tip .pip-popover, .pip-popover-backdrop.pip-help .pip-popover {
    background-color: rgba(255, 224, 130, 0.95);
}

.pip-popover-backdrop.pip-tip .pip-popover:after, .pip-popover-backdrop.pip-help .pip-popover:after {
    border-bottom-color: rgba(255, 224, 130, 0.95);
}

.pip-popover-backdrop.pip-quote .pip-popover {
    background-color: #C5E1A5;
}

.pip-popover-backdrop.pip-quote .pip-popover:after {
    border-bottom-color: #C5E1A5;
}

.pip-popover-backdrop .pip-popover .pip-content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px;
    line-height: 22px;
}

.pip-popover-backdrop .pip-popover .pip-content .pip-pic {
    height: 200px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.pip-popover-backdrop .pip-popover .pip-content .pip-markdown p {
    margin-bottom: 0px !important;
}

.pip-popover-backdrop .pip-popover .pip-content.bm64 {
    margin-bottom: 64px !important;
}

/* Styles for image-slider */

.pip-image-slider, .pip-image-slider .pip-animation-block, .pip-image-slider .pip-animation-block img {
    height: 450px;
    max-width: 700px;
}


/* Styles for Draggable */

.drag-scroll-test {
	overflow: scroll;
	height: 400px;
}

.drag-scroll [pip-drag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.drag-scroll [pip-drag] {
	cursor: move;
}

.drag-scroll [pip-drag].drag-over {
	border: solid 1px red;
}

.drag-scroll [pip-drag].dragging {
	opacity: 0.5;
}

.drag-scroll [pip-drop] {
	position: relative;
}

.drag-scroll [pip-drop].drag-enter {
	border: solid 5px red;
}

.drag-scroll [pip-drop] p {

}

.drag-scroll [pip-drop] div {
	/*position: relative;*/
	z-index: 2;
}

