<h2 class="text-title tm0 bm24">{{ 'CONVERSION_DIALOG' | translate }}</h2>

<h3 class="text-subhead2">{{:: 'CONVERT_PARENT_DIALOG' | translate}}</h3>
<md-button class="lm0 md-raised md-accent flat" ng-click="onConvertParentDialog($event)">{{ 'OPEN_CONVERT_PARENT_DIALOG' | translate }}</md-button>
<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">{{:: 'CODE' | translate}}</h3>
<code class="language-js">pipConversionDialog.show(
{
    event: event,
    options: [
        {
            name: 'GOAL',
            title: 'GOAL',
            subtitle: 'CONVERT_TO_GOAL_SUBTITLE'
        },
        {
            name: 'AREA',
            title: 'AREA',
            subtitle: 'CONVERT_TO_AREA_SUBTITLE'
        },
        {
            name: 'VISION',
            title: 'VISION',
            subtitle: 'CONVERT_TO_VISION_SUBTITLE'
        },
        {
            name: 'TASK',
            title: 'TASK',
            subtitle: 'CONVERT_TO_TASK_SUBTITLE'
        }
    ],
    recordName: 'New goal'
},
function (option) {
    var optionName = option ? option.option.name : null;
    console.log('Selected option: ' + optionName);
});
</code>
</pre>
<md-divider class="tm8 pip-list-divider"></md-divider>
<h3 class="text-subhead2">{{:: 'CONVERT_TO_DIALOG' | translate}}</h3>
<md-button class="lm0 md-raised md-accent flat" ng-click="onConvertToDialog($event)">{{ 'OPEN_CONVERT_TO_DIALOG' | translate }}</md-button>
<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">{{:: 'CODE' | translate}}</h3>
<code class="language-js">pipConversionDialog.show(
{
    event: event,
    options: [
        {
            name: 'GOAL',
            title: 'GOAL',
            subtitle: 'CONVERT_RECORD_TO_GOAL'
        },
        {
            name: 'TASK',
            title: 'TASK',
            subtitle: 'CONVERT_RECORD_TO_TASK'
        },
        {
            name: 'EVENT',
            title: 'EVENT',
            subtitle: 'CONVERT_RECORD_TO_EVENT'
        },
        {
            name: 'POST',
            title: 'POST',
            subtitle: 'CONVERT_RECORD_TO_POST'
        }
    ],
    deleted: true,
    deleteTitle: 'CONVERT_TO_CONTENT'
},
function (result) {
    var optionName = result ? result.option.name : null;
    var deleted = result ? result.deleted : false;
    console.log('Selected option: ' + optionName);
    console.log('Selected deleted?: ' + deleted);
});
</code>
</pre>
