<md-toast class="md-action pip-toast"
          ng-class="{'pip-error': vm.toast.type=='error' || vm.toast.type=='clickable_error',
          'pip-column-toast': vm.toast.actions.length > 1 || vm.actionLenght > 4,
          'pip-no-action-toast': vm.actionLenght == 0}"
          style="height:initial; max-height: initial; ">

    <span class="flex-var pip-text" ng-bind-html="vm.message" ng-class="{'clickable': vm.showDetails && vm.toast.type=='clickable_error' }" ng-click="vm.onMessageClick()"></span>
    <div class="layout-row layout-align-end-start pip-actions" ng-if="vm.actions.length > 0 || ((vm.toast.type=='error' || vm.toast.type=='clickable_error') && vm.toast.error)">
        <div class="flex" ng-if="vm.toast.actions.length > 1"> </div>
            <md-button class="flex-fixed pip-toast-button" ng-if="vm.toast.type=='error' && vm.toast.error && vm.showDetails" ng-click="vm.onDetails()">Details</md-button>
            <md-button class="flex-fixed pip-toast-button"
                    ng-click="vm.onAction(action)"
                    ng-repeat="action in vm.actions"
                    aria-label="{{::action| translate}}">
                {{::action| translate}}
            </md-button>
       
    </div>

</md-toast>