.pip-toast {
  max-height: 72px + 32px !important;
  padding-left: 16px;
  padding-right: 16px;

  .md-toast-content {
    padding-top: 8px;
    padding-bottom: 8px;
    height: initial;
    max-height: 32px + 16px !important;
  }
  .pip-text {
        display: -webkit-box;
        max-height:  32px;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap:break-word;
        overflow: hidden;
        text-overflow: ellipsis;        
        line-height: 16px;
        vertical-align: middle;

    // max-height: 32px;
    // margin-right: 0px;
    // vertical-align: middle;
    // .text-overflow();
  }

  .pip-toast-button {
    margin: 0px 0px 0px 8px;
  }

  @media (min-width: 1200px) {
    max-width: 600px;
  }

  @media (max-width: 1199px) {
    width: initial;
  }

  @media (max-width: 768px) {
    max-height: 32px + 24px + 36px + 32px !important;
    padding: 0;

    .md-toast-content::before {
      min-height: 0px!important;
    }

    .md-toast-content {
      padding-top: 8px;
      max-height: 32px + 24px + 36px !important;
      //.flex-direction-column();

      .pip-text {
        margin-right: 0;
        width: 100%;
      }

    }

    &.pip-column-toast {
      .md-toast-content {
        padding-top: 16px;
        .flex-direction(column);
      }
    }

    &.pip-no-action-toast {
      .md-toast-content {
        padding-top: 8px;
        .flex-direction(row);
        .flex-vertical-center();
      }
    }
  }

  &.pip-error {
    .md-toast-content {
      background-color: @color-badge;
    }
    z-index: 1000;
  }
}

.pip-toast.pip-column-toast {
    @media (max-width: 768px) {
      .md-toast-content::before {
        min-height: 0px!important;
      }
      .pip-actions {
        width: 100%;
      }      
    }
}