<md-toast class="md-action pip-toast"
          ng-class="{'pip-error': toast.type=='error',
          'pip-column-toast': toast.actions.length > 1 || actionLenght > 4,
          'pip-no-action-toast': actionLenght == 0}"
          style="height:initial; max-height: initial; ">

    <span class="flex-var pip-text" ng-bind-html="message"></span>
    <div class="layout-row layout-align-end-start pip-actions" ng-if="actions.length > 0 || (toast.type=='error' && toast.error)">
        <div class="flex" ng-if="toast.actions.length > 1"> </div>
            <md-button class="flex-fixed pip-toast-button" ng-if="toast.type=='error' && toast.error && showDetails" ng-click="onDetails()">Details</md-button>
            <md-button class="flex-fixed pip-toast-button"
                    ng-click="onAction(action)"
                    ng-repeat="action in actions"
                    aria-label="{{::action| translate}}">
                {{::action| translate}}
            </md-button>
       
    </div>

</md-toast>