<h2 class="text-title tm0 bm24">Toasts sample</h2>
<h3 class="text-subhead2">Simple</h3>
<md-button class="lm0 md-raised md-accent flat"
           ng-click="onNotificationShow($event)">Show notification
</md-button>

<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">Code</h3>
<code class="language-js">pipToasts.showNotification('Notification' + messageCount, ['accept', 'reject'])</code>
</pre>

<md-divider class="tm8 pip-list-divider"></md-divider>
<h3 class="text-subhead2">Small</h3>
<md-button class="lm0 md-raised md-accent flat"
           ng-click="onNotificationSmallShow($event)">Show small notification
</md-button>

<pre class="text-body1 color-window-bg p16"><h3 class="text-subhead2 m0">Code</h3>
<code class="language-js">pipToasts.showNotification('Notification' + 'Small' + messageCount);</code>
</pre>

<md-divider class="tm8 pip-list-divider"></md-divider>
<h3 class="text-subhead2">Error toast</h3>
<md-button class="lm0 md-raised md-accent flat" ng-click="onErrorShow($event)">
    Show toast with error
</md-button>

<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">Code</h3>
<code class="language-js">var error = {
    'path': '/api/1.0/parties/:id/followers',
    'method': 'POST',
    'code': 400,
    'name': 'Bad Request',
    'error': 1402,
    'message': 'Missing party information'
};

pipToasts.showError(pipTranslate.translate('ERROR') + errorCount, null, null, null, error);</code>
        </pre>

<md-divider class="tm8 pip-list-divider"></md-divider>
<h3 class="text-subhead2">Toast without actions</h3>
<md-button class="lm0 md-raised md-accent flat"
           ng-click="onNotificationHideActions($event)">Show notification without actions
</md-button>

<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">Code</h3>
<code class="language-js">pipToasts.showNotification('Notification' + messageCount, [])</code>
</pre>