<p class="text-title layout-row layout-align-start-center">
    Jumbotron
</p>
<div class="jumbotron layout-row layout-xs-column">
    <img class="pip-pic" src="images/group-2.svg" width="226px" height="240px">
    <div class="pip-content flex">
        <div class="pip-jumbo-title-content layout-row layout-align-start-center">
            <div class="pip-jumbo-title-text">
                Failed workflows
            </div>
            <md-icon md-svg-icon="icons:chevron-big-right"></md-icon>
        </div>
        <div ng-repeat="item in items" class="pip-jumbo-item layout-column layout-align-center-start">
            <div class="pip-jumbo-title">
                <span>ID: </span>
                <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{item.text1}}</span> •
                <span >POReceipt#:</span>
                <span class="flex pip-jumbo-title-bold">{{item.text2}}</span>
            </div>
            <div class="pip-jumbo-subtitle text-overflow" style="font-size: 14px">
                <span >Activities:</span>
                <span class="pip-jumbo-subtitle-bold">{{item.text3}}</span> •
                <span class="pip-jumbo-subtitle-bold">{{item.text4}}</span>
            </div>

        </div>
    </div>
    <div class="pip-content flex">
        <div class="pip-jumbo-title-content layout-row layout-align-start-center">
            <div class="pip-jumbo-title-text">
                Failed workflows
            </div>
            <md-icon md-svg-icon="icons:chevron-big-right"></md-icon>
        </div>
        <div ng-repeat="item in items" class="pip-jumbo-item layout-column layout-align-center-start">
            <div class="pip-jumbo-title">
                <span>ID: </span>
                <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{item.text1}}</span> •
                <span >POReceipt#:</span>
                <span class="flex pip-jumbo-title-bold">{{item.text2}}</span>
            </div>
            <div class="pip-jumbo-subtitle text-overflow" style="font-size: 14px">
                <span >Activities:</span>
                <span class="pip-jumbo-subtitle-bold">{{item.text3}}</span> •
                <span class="pip-jumbo-subtitle-bold">{{item.text4}}</span>
            </div>

        </div>
    </div>
</div>


<div class="jumbotron layout-row layout-xs-column">
    <img class="pip-pic" src="images/group-2.svg" width="226px" height="240px">
    <div class="pip-content flex">
        <div class="pip-jumbo-title-content layout-row layout-align-start-center">
            <div class="pip-jumbo-title-text">
                Failed workflows
            </div>
            <md-icon md-svg-icon="icons:chevron-big-right"></md-icon>
        </div>
        <div ng-repeat="item in items" class="pip-jumbo-item layout-column layout-align-center-start">
            <div class="pip-jumbo-title">
                <span>ID: </span>
                <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{item.text1}}</span> •
                <span >POReceipt#:</span>
                <span class="flex pip-jumbo-title-bold">{{item.text2}}</span>
            </div>
            <div class="pip-jumbo-subtitle text-overflow" style="font-size: 14px">
                <span >Activities:</span>
                <span class="pip-jumbo-subtitle-bold">{{item.text3}}</span> •
                <span class="pip-jumbo-subtitle-bold">{{item.text4}}</span>
            </div>

        </div>
    </div>
</div>


<div class="jumbotron layout-row layout-xs-column">
    <div class="pip-content flex">
        <div class="pip-jumbo-title-content layout-row layout-align-start-center">
            <div class="pip-jumbo-title-text">
                Failed workflows
            </div>
            <md-icon md-svg-icon="icons:chevron-big-right"></md-icon>
        </div>
        <div ng-repeat="item in items" class="pip-jumbo-item layout-column layout-align-center-start">
            <div class="pip-jumbo-title">
                <span>ID: </span>
                <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{item.text1}}</span> •
                <span >POReceipt#:</span>
                <span class="flex pip-jumbo-title-bold">{{item.text2}}</span>
            </div>
            <div class="pip-jumbo-subtitle text-overflow" style="font-size: 14px">
                <span >Activities:</span>
                <span class="pip-jumbo-subtitle-bold">{{item.text3}}</span> •
                <span class="pip-jumbo-subtitle-bold">{{item.text4}}</span>
            </div>

        </div>
    </div>
    <div class="pip-content flex">
        <div class="pip-jumbo-title-content layout-row layout-align-start-center">
            <div class="pip-jumbo-title-text">
                Failed workflows
            </div>
            <md-icon md-svg-icon="icons:chevron-big-right"></md-icon>
        </div>
        <div ng-repeat="item in items" class="pip-jumbo-item layout-column layout-align-center-start">
            <div class="pip-jumbo-title">
                <span>ID: </span>
                <span class="text-overflow pip-jumbo-title-bold pip-jumbo-title-small">{{item.text1}}</span> •
                <span >POReceipt#:</span>
                <span class="flex pip-jumbo-title-bold">{{item.text2}}</span>
            </div>
            <div class="pip-jumbo-subtitle text-overflow" style="font-size: 14px">
                <span >Activities:</span>
                <span class="pip-jumbo-subtitle-bold">{{item.text3}}</span> •
                <span class="pip-jumbo-subtitle-bold">{{item.text4}}</span>
            </div>

        </div>
    </div>
</div>